@page
@model IndexModel
@{
    ViewData["Title"] = "Serverless File Share";
}

<div class="container-fluid">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h3>My files</h3>
        <p>If you would like to share a file with someone, you can:</p>
        <ul>
            <li>upload files directly to this application, or;</li>
            <li>share an existing file that you have uploaded previously.</li>
        </ul>
        <a class="btn btn-info rounded-3" href="#">Manage my files</a>
    </div>
    <div>
        <h3>Files shared with me</h3>
        <p>See files that other people have shared with you.</p>
        <a class="btn btn-info rounded-3" href="#">View files shared with me</a>
    </div>
</div>
